@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lightBg dark:bg-darkBg text-gray-800 dark:text-gray-200;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .dark ::-webkit-scrollbar {
    width: 6px;
  }
}
